@import url("https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@600&display=swap");
.editUser {
    
  margin: 20px 0 0 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background: linear-gradient(45deg, rgb(47, 206, 255), rgb(3, 30, 58));
  font-family: "Sansita Swashed", cursive;
}



.centerP {
  margin-top: 5vh;
  position: relative;
  padding: 70px 70px;
  background: #fff;
  border-radius: 10px;
}
.centerP.cen {
  margin-top: 5vh;
  position: relative;
  padding: 70px 70px;
  background: #fff;
  border-radius: 10px;
}
.centerP h1 {
  font-size: 2em;
  border-left: 5px solid dodgerblue;
  padding: 10px;
  color: #000;
  letter-spacing: 5px;
  margin-bottom: 60px;
  font-weight: bold;
  padding-left: 10px;
}
.centerP .inputbox {
  position: relative;
  width: 400px;
  height: 50px;
  margin-bottom: 50px;
  
}
.centerP .inputbox input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border: 2px solid #000;
  outline: none;
  background: none;
  padding: 10px;
  border-radius: 10px;
  font-size: 1.2em;
}
.centerP .inputbox:last-child {
  margin-bottom: 0;
}
.centerP .inputbox span {
  position: absolute;
  top: 14px;
  left: 20px;
  font-size: 1em;
  transition: 0.6s;
  font-family: sans-serif;
}
.centerP .inputbox input:focus ~ span,
.centerP .inputbox input:valid ~ span {
  transform: translateX(-13px) translateY(-35px);
  font-size: 1em;
}
.centerP .inputbox [type="button"] {
  width: 50%;
  background: dodgerblue;
  color: #fff;
  border: #fff;
  margin-left: 80px;
}
.centerP .inputbox:hover [type="button"] {
  background: linear-gradient(45deg, rgb(47, 206, 255), rgb(3, 30, 58));
  cursor: pointer;
}
.centerP .inputbox [type="text"]{
  color: #000;

}
.backBtn{
  cursor: pointer;
  width: 50%;
  background: dodgerblue;
  color: #fff;
  border: #fff;
  margin-left: 80px;
  margin-bottom: 50px;
  padding: 10px;
  border-radius: 10px;
  font-size: 1.2em;
  margin-top: -30px;

}

.backBtn:hover{
  background: linear-gradient(45deg, rgb(47, 206, 255), rgb(3, 30, 58));

}