@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,800);
@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
.Found{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
    justify-content: center;
    margin-bottom: 40px;
}
figure.snip0045 {
  font-family: 'Raleway', Arial, sans-serif;
  position: relative;
  overflow: hidden;
  border-radius: 5px; 
  width: 420px;
  
  height: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.664);

  
  background: #ffffff;
  color: #000000;
}
figure.snip0045 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
figure.snip0045 > img {
  width: 50%;
  border-radius: 50%;
  border: 4px solid #ffffff;
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
  -webkit-transform: scale(1.6);
  transform: scale(1.6);
  position: relative;
  left: -20%;
  z-index: 1;
}
figure.snip0045 figcaption {
  padding: 20px 30px 20px 20px;
 
  
  position: absolute;
  right: 0;
  width: 50%;
}
figure.snip0045 figcaption h2,
figure.snip0045 figcaption p {

  margin: 0;
  text-align: left;
  padding: 2px 0;
  width: 100%;
}
figure.snip0045 figcaption h3{
  box-sizing: content-box;
  word-wrap: break-word;
  padding: 0;

  background-color: #000000;
}
figure.snip0045 figcaption h2 {
  font-size: 1.3em;
  font-weight: 300;
  text-transform: uppercase;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
figure.snip0045 figcaption h2 span {
  font-weight: 800;
}
figure.snip0045 figcaption p {
  font-size: 0.9em;
  opacity: 0.8;
}
figure.snip0045 figcaption .icons {
  width: 100%;
  text-align: right;
}
figure.snip0045 figcaption .icons i {
  font-size: 26px;
  padding: 5px;
  top: 50%;
  color: #000000;
}
figure.snip0045 figcaption a {
  opacity: 0.3;
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s;
}
figure.snip0045 figcaption a:hover {
  opacity: 0.8;
}
figure.snip0045 .position {
  width: 100%;
  text-align: right;
  padding: 15px 30px;
  font-size: 0.9em;
  opacity: 1;
  font-style: italic;
  color: #ffffff;
  background: #000000;
}
figure.snip0045.blue .position {
  cursor: pointer;
  background: #20638f;
  
}
figure.snip0045.red .position .linkProfilUser:hover{
  color: aqua;
}
figure.snip0045.red .position .linkProfilUser{
  text-decoration: none;
  font-weight: bold;
  color: #ffffff;
}
figure.snip0045.red .position {
  
    background: linear-gradient(45deg, rgb(47, 206, 255), rgb(3, 30, 58));
}
figure.snip0045.yellow .position {
  background: #bf6516;
}
figure.snip0045.green .position {
  background: #1e8449;
}
figure.snip0045:hover > img,
figure.snip0045.hover > img {
  left: -12%;
}


/* Demo purposes only */

.bodyFound {
 margin-bottom: 20px; 
  justify-content: center;
  align-items: center;
  flex-flow: wrap;
 top: 0;
  height: 100%;
}

.specialite{
  background: linear-gradient(45deg, rgb(47, 206, 255), rgb(3, 30, 58));
  color: #ffffff;
  
}