
.navgation{
	margin-top: 0;
	padding: 0;
	margin: 0;
	font-family: 'Josefin Sans', sans-serif;
	box-sizing: border-box;
   
}
.hero{
	height: 20vh;
	width: 100%;
    background-color: #06283D;	
	
}
nav{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 25px;
	padding-left: 8%;
	padding-right: 8%;
}
.logo1{
	color: white;
	font-size: 35px;
	letter-spacing: 1px;
	cursor: pointer;
}
.logo2{
	color: #47B5FF;
}
nav ul li{
	list-style-type: none;
	display: inline-block;
	padding: 10px  25px;
}
nav ul li .titreNav{
	cursor: pointer;
	color: white;
	text-decoration: none;
	font-weight: bold;
	text-transform: capitalize;
	text-decoration: none;
}
.titreNav:hover{
	color: #b0e4f7;
	
}

.btn{
	background-color:#47B5FF;
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
    
	padding: 10px 25px;
	border-radius: 30px;
	transition: transform .4s; 
}
.btn:hover{
	transform: scale(1.2);
}

@media only screen and (max-width: 650px){
	nav{
		display: flex;
	align-items: flex-start;	
	}
	.btn{ 
		display: flex;
		align-items: flex-start;
		
		
	}
	.navgation{
		position: static;
		max-width: 100%;
		top: 0;
	}
	.logo1 {
		text-align: right;
		margin: 5px;
	}
	nav ul li .titreNav{
		font-size: smaller;
		margin: 0;
		padding: 0;
		
	}
}





