

.nav {
    height: 50px;
    width: 100%;
    background-color: #06283D;
    position: relative;
    margin-bottom: 20px;
    

  }
  
  .nav > .nav-header {
    display: inline;
    margin-right: 10%;
  }
  
  .nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 22px;
    color: #fff;
    padding: 10px 10px 10px 10px;
    letter-spacing: 3px;
    
    
  }
  .logo2{
    color: #47B5FF;
  }
  
  .nav > .nav-btn {
    display: none;
  }
  
  .nav > .nav-links {
    display: flex;
    align-items: center;
    justify-content: space-between;    
    padding-left: 10%;
    padding-right: 10%;
    
  }
  .btn-logout{
    color: white;
    text-decoration: none;
    border: solid transparent;
    font-weight: bold;      
    padding: 13px 20px 13px 10px;
    font-family: 'Josefin Sans', sans-serif;
    letter-spacing: 0.5px;
    background: #47B5FF;
      }
  .btn-logout:hover{
    color: #47B5FF;
    cursor: pointer;

  }
  .btn{
    
    color: white;
    text-decoration: none;
    border: solid transparent;
    font-weight: bold;      
    padding: 0 5px;    
    transition: transform .4s; 
    font-family: 'Josefin Sans', sans-serif;
    letter-spacing: 0.5px;
    background: #47B5FF;

    
    
  }
  .btn:hover{
    color: #06283D;

  }
  
  .nav > .nav-links > div {
    display: inline-block;
    padding: 13px 20px 13px 10px;
    text-decoration: none;    
  }
  .nav-links .titreNav{
    cursor: pointer;
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Josefin Sans', sans-serif;
    
    
    
  }
  .nav-links .titreNav:hover{
    color: #69bddb;

  }
  
  .nav > .nav-links > div:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }
  
  .nav > #nav-check {
    display: none;
  }
  
  @media (max-width:600px) {
    .nav > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
    }
    .nav > .nav-btn > label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 13px;
    }
    .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
      background-color: rgba(0, 0, 0, 0.3);
    }
    .nav > .nav-btn > label > span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid #eee;
    }
    .nav > .nav-links {
      position: absolute;
      display: block;
      width: 100%;
      background-color: #333;
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 50px;
      left: 0px;
    }
    .nav > .nav-links > div {
      display: block;
      width: 100%;     
    }
    
    .nav > #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }
    .nav > #nav-check:checked ~ .nav-links {
      height: calc(100vh - 50px);
      overflow-y: auto;
    }
  }