
.welcome{
    font-weight: 900;
    text-align: center;
    font-size: 40px;
    font-family: Hack, sans-serif;
    text-transform: uppercase;
    background: linear-gradient(45deg, rgb(18, 53, 211), rgb(197, 110, 110), rgb(47, 27, 233));
    letter-spacing: 5px;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-repeat: no-repeat;
    background-size: 80%;
    animation: shine 2.5s linear infinite;
    position: relative;}
    @keyframes shine {
        0% {
          background-position-x: -500%;
        }
        100% {
          background-position-x: 500%;
        }
}
/* search box */

.button_box2 {
    display: flex;
    justify-content: center;
    margin:30px;
    }
    /*-------------------------------------*/
    .cf:before, .cf:after{
    content:"";
    display:table;
    }
    .cf:after{
    clear:both;
    }
    .cf{
    zoom:1;
    }
    /*-------------------------------------*/
    
    .form-wrapper-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 480px;
    padding: 15px;
    background: linear-gradient(45deg,rgb(47, 206, 255) , rgb(3, 30, 58));
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);
    box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);
    }
    .form-wrapper-2 input {
    width: 310px;
    height: 30px;
    padding: 10px 5px;
    float: left;
    font: bold 15px 'Raleway', sans-serif;
    border: 0;
    background: rgb(35, 51, 94);
    -moz-border-radius: 3px 0 0 3px;
    -webkit-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px;
    }
    .form-wrapper-2 input:focus {
    outline: 0;
    background: #131414(15, 128, 122);
    -moz-box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
    -webkit-box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
    box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
    }
    .form-wrapper-2 input::-webkit-input-placeholder {
    color: rgb(206, 203, 203);
    font-weight: normal;
    font-style: italic;
    }
    .form-wrapper-2 input:-moz-placeholder {
    color: rgb(0, 0, 0);
    font-weight: normal;
    font-style: italic;
    }
    .form-wrapper-2 input:-ms-input-placeholder {
    color: rgb(0, 0, 0);
    font-weight: normal;
    font-style: italic;
    }
    .form-wrapper-2 button {
    overflow: visible;
    position: relative;
    float: right;
    border: 0;
    padding: 0;
    cursor: pointer;
    height: 40px;
    width: 110px;
    font: bold 15px/40px 'Raleway', sans-serif;
    color: #fff;
    text-transform: uppercase;
    background: linear-gradient(45deg,rgb(47, 206, 255) , rgb(5, 48, 94));
    -moz-border-radius: 0 3px 3px 0;
    -webkit-border-radius: 0 3px 3px 0;
    border-radius: 3px 3px 3px 3px;
    text-shadow: 0 -1px 0 rgba(0, 0 ,0, .3);
    }
    .form-wrapper-2 button:hover {
        color: aqua;
    }
   
    
    .form-wrapper-2 button:before {
    content: '';
    position: absolute;
    border-width: 8px 8px 8px 0;
    border-style: solid solid solid none;
    border-color: transparent #47B5FF transparent;
    top: 12px;
    left: -6px;
    }
   
    .form-wrapper-2 button::-moz-focus-inner {
    border: 0;
    padding: 0;
    
    }

    footer{
      position: relative;
      margin-top: 15%;
      
      bottom: 0;
      left: 0;
      right: 0;
      background: rgb(3, 5, 39);
      height: auto;
      width: 100%;
      padding-top: 20px;
      color: #fff;
      margin-bottom: 0;
    }
    .footer-content{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      text-align: center;
    }
    .footer-content h3{
      font-size: 2.1rem;
      font-weight: 400;
      text-transform: capitalize;
      line-height: 2rem;
    }
    .footer-content p{
      max-width: 300px;
      margin: 5px auto;
      line-height: 28px;
      font-size: 14px;
      color: #cacdd2;
    }
    .socials{
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0;
  }
  .socials li{
    margin: 0 10px;
}

/* .socials p{
    text-decoration: none;
    color: #fff;
    border: 1.1px solid white;
    padding: 5px;
    border-radius: 50%;
} */

.socials p i{
    font-size: 1.1rem;
    width: 20px;
    transition: color .4s ease;
}

.socials p:hover i{
    color: aqua;
}
.footer-bottom p{
  float: left;
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}
.CopyRight{
 color:#44bae8;
 font-size: 16px;
 text-decoration: none;
 text-decoration: none;
}
.footer-bottom span{
   text-transform: uppercase;
   opacity: .4;
   font-weight: 200;
}
